<% provide(:title, 'Sign up') %>

<div class="container">

  <div class="center">
    <h1>Sign up</h1>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for(@user, url: signup_path) do |f| %>

        <%= render 'shared/error_messages', errors: @user.errors %>

        <%= f.label :nick_name %>
        <%= f.text_field :nick_name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :birth_date %>
        <small>(This is gonna be used for accurate event filtering.)</small>
        <%= f.date_field :birth_date, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label :calendar_sync? %>
        <small>(Do you want to add all attending events to your calendar?)</small>
        <%= f.check_box :calendar_sync?, class: 'custom-control-input', id: 'customSwitch1' %>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>