<% provide(:title, 'Sign up') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
      <h1>Sign up</h1>

      <%= form_for(@user, url: signup_path) do |f| %>

        <%= render 'shared/error_messages', errors: @user.errors %>

        <%= f.label :nick_name %>
        <%= f.text_field :nick_name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :birth_date %>
        <%= f.date_field :birth_date, class: 'form-control' %>
        <small id="passwordHelpBlock" class="form-text text-muted">
          This is gonna be used for accurate event filtering.
        </small>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <div class="form-check">
          <%= f.radio_button :gender_id, '0', { class: 'form-check-input', checked: true } %>
          <%= f.label :gender, 'Male', class: 'form-check-label', value: 'male' %>
        </div>
        <div class="form-check">
          <%= f.radio_button :gender_id, '1', class: 'form-check-input' %>
          <%= f.label :gender, 'Female', class: 'form-check-label', value: 'female' %>
        </div>

        <%= f.submit "Create my account", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>