<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <%= form_tag '', id: 'submitFilters' do %>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <%= label_tag 'Show only free events' %>
            <%= check_box_tag :only_free %>
          </div>
          <div class="col">
            <%= label_tag 'Show only night events' %>
            <%= check_box_tag :only_night%>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag 'Show events only for genders' %>
        <%= select_tag :genders_only, options_for_select(@genders_arr), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag 'Show category' %>
        <%= select_tag :category, options_for_select(@categories_arr, -1), class: 'form-control' %>
      </div>

      <%= submit_tag "Apply filters", class: 'btn btn-secondary' %>
    <% end %>
  </div>
</section>

<div class="container">
  <h3>Events near you</h3>
  <div id="locationDisabled">
    <div class="row justify-content-center">
    </div>
  </div>
  <div class="album py=5 bg-light">
    <div id="closestEvents" class="row">
    </div>
  </div>
  <div class="row justify-content-center">
    <a class="btn btn-primary my-2" id="loadMore">
      Load more
    </a>
  </div>
</div>


<!--<div class="container">-->
<!--  <div class="col-md-4">-->
<!--    <div class="card border-secondary mb-4 shadow-sm">-->
<!--      <div class="card-header text-center">-->
<!--        Popular-->
<!--      </div>-->
<!--      <div class="card-body" style="padding-top: .75rem">-->
<!--        <div>-->
<!--          <span class="badge badge-warning">Paid</span><span> </span><span class="badge badge-dark">Night event</span>-->
<!--        </div>-->
<!--        <h5 class="card-title" style="font-weight: 600 !important">EventName</h5>-->
<!--        <h6 class="card-subtitle mb-2">Starts in 1 min</h6>-->
<!--        <h6 class="card-subtitle mb-2 text-muted">Organizer: nick1</h6>-->
<!--        <h6 class="card-subtitle mb-2 text-muted">Total attendance: 0</h6>-->
<!--        <h6 class="mb-2 text-muted">Capacity filled by:</h6>-->
<!--        <div class="progress">-->
<!--          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--        </div>-->
<!--        <p class="card-text">Description: sdfjdfsfd.</p>-->
<!--        <div class="d-flex justify-content-between align-items-center">-->
<!--          <div class="btn-group">-->
<!--            <a class="btn btn-sm btn-outline-primary" href="http://localhost:3000/events/show/7">View</a>-->
<!--            <a display="none" class="btn btn-sm btn-outline-primary" href="http://localhost:3000/events/7/edit">Edit</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-footer text-muted">-->
<!--        <small>#smth #fhdj #idfi</small>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<script>
  var eventsLoadedCount = 0;

  function getFilterParams()
  {
      var temp = [];
      temp.push({name: '<%= :only_free %>', val: $('#<%= :only_free %>').is(':checked')});
      temp.push({name: '<%= :only_night %>', val: $('#<%= :only_night %>').is(':checked')});
      temp.push({name: '<%= :genders_only %>', val: $('#<%= :genders_only %>').val()});
      temp.push({name: '<%= :category %>', val: $('#<%= :category %>').val()});

      extra_params = '?';
      temp.forEach(function(item, id)
      {
          extra_params = extra_params + item.name + '=' + item.val;
          extra_params = extra_params + '&';
      });
      return extra_params;
  }

  $('#submitFilters').submit(function(e)
  {
      removeAllEvents();
      loadEvents(getFilterParams());
      return false;
  });

  function removeAllEvents()
  {
      var myNode = document.getElementById('closestEvents');
      while (myNode.firstChild) {
          myNode.removeChild(myNode.firstChild);
      }
      eventsLoadedCount = 0;
  }

  function loadEvents(extra_params)
  {
      var onEventsReceived = function(events)
      {
          setLoadingButton(false);
          events.forEach(function (item, id) {
              var eventShowHref = '<%= request.base_url + event_show_path('event_id') %>';
              eventShowHref = eventShowHref.replace('/event_id', '/' + item.id);
              var eventEditHref = '<%= request.base_url + edit_event_path('event_id') %>';
              eventEditHref = eventEditHref.replace('/event_id', '/' + item.id);
              getEventCardNode(
                  eventShowHref,
                  eventEditHref,
                  item.is_attending,
                  item.is_free,
                  item.is_night,
                  item.name,
                  item.attendance,
                  item.author_nick,
                  item.description,
                  item.time_to_event_text,
                  item.is_author_event,
                  item.capacity === '' ? null : item.capacity,
                  item.tags,
                  item.is_popular).appendTo(document.getElementById('closestEvents'));
          });
          eventsLoadedCount += events.length;
      };

      var onFail = function()
      {
          console.log('events loading failed');
      };

      setLoadingButton(true);
      getCloseEvents(extra_params, onEventsReceived, onFail);
  }

  function setLoadingButton(isLoading)
  {
      var button = document.getElementById('loadMore');
      if(isLoading)
      {
          if(!button.classList.contains('disabled'))
          {
              button.classList.add('disabled');
          }
          if(!button.contains(document.getElementById('spinner')))
          {
              getSpinnerNode('spinner').appendTo(button);
          }
      }
      else
      {
          if(button.classList.contains('disabled'))
          {
              button.classList.remove('disabled');
          }
          if(button.contains(document.getElementById('spinner')))
          {
              button.removeChild(button.lastChild);
          }
      }
  }

  function getCloseEvents(extra_parameters, onEventsReceived, onFail)
  {
      getLocation(function(lat, lng) {
              document.getElementById('locationDisabled').style.display = 'none';
              request = new XMLHttpRequest();

              request.onload = function () {
                  var eventsResult = JSON.parse(request.response);
                  onEventsReceived(eventsResult);
              };
              url = '<%= request.base_url + url_for(closest_events_path '1000', '1001', '1002') %>';
              url = url.replace('/1000', '/' + lat);
              url = url.replace('/1001', '/' + lng);
              url = url.replace('/1002', '/' + eventsLoadedCount);
              url = url + extra_parameters;
              request.open('GET', url);
              request.send();
          },
          onFail);
  }

  $('document').ready(function ()
  {
      loadEvents(getFilterParams());
  });

  $('#loadMore').click(function()
  {
      loadEvents(getFilterParams());
  });
</script>