<div class="jumbotron">
  <div class="container">
    <h1><%= @event.name %></h1>
    <p><small>Organizer: <%= @author_nick %></small></p>
    <p><%= @event.description %></p>
    <p>
      <% if @attending %>
        <%= link_to "Unattend", event_unattend_path(@event.id), method: :put, class: "btn btn-primary btn-lg" %>
      <% else %>
        <%= link_to "Attend", event_attend_path(@event.id), method: :put, class: "btn btn-primary btn-lg" %>
      <% end %>
    </p>

    <% if @is_my_event %>
      <p>
        <%= link_to "Delete event", delete_event_path(@event), method: :delete, class: "btn btn-primary btn-lg" %>
      </p>
    <% end %>

  </div>

  <%= link_to "Back", all_events_path, class: "btn btn-primary btn-lg" %>

</div>
<!--<p>Event name: <%#= @event.name %></p>-->