<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My events</h1>
    <p>
      <%= link_to "Create new event", newevent_path, class: "btn btn-primary my-2" %>
      <%= link_to "Show all events", all_events_path, class: "btn btn-primary my-2" %>
      <%= link_to "Show attending events", attending_events_path, class: "btn btn-primary my-2" %>
    </p>
  </div>
</section>

<%= render 'shared/pagination' %>
<%= render 'events/partials/event_cards' %>